@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --fz-background: oklch(1 0 0);
  --fz-foreground: oklch(0.141 0.005 285.823);
  --fz-card: oklch(1 0 0);
  --fz-card-foreground: oklch(0.141 0.005 285.823);
  --fz-popover: oklch(1 0 0);
  --fz-popover-foreground: oklch(0.141 0.005 285.823);
  --fz-primary: oklch(0.21 0.006 285.885);
  --fz-primary-foreground: oklch(0.985 0 0);
  --fz-secondary: oklch(0.967 0.001 286.375);
  --fz-secondary-foreground: oklch(0.21 0.006 285.885);
  --fz-muted: oklch(0.967 0.001 286.375);
  --fz-muted-foreground: oklch(0.552 0.016 285.938);
  --fz-accent: oklch(0.967 0.001 286.375);
  --fz-accent-foreground: oklch(0.21 0.006 285.885);
  --fz-destructive: oklch(0.577 0.245 27.325);
  --fz-border: oklch(0.92 0.004 286.32);
  --fz-input: oklch(0.92 0.004 286.32);
  --fz-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --fz-background: oklch(0.141 0.005 285.823);
  --fz-foreground: oklch(0.985 0 0);
  --fz-card: oklch(0.21 0.006 285.885);
  --fz-card-foreground: oklch(0.985 0 0);
  --fz-popover: oklch(0.21 0.006 285.885);
  --fz-popover-foreground: oklch(0.985 0 0);
  --fz-primary: oklch(0.92 0.004 286.32);
  --fz-primary-foreground: oklch(0.21 0.006 285.885);
  --fz-secondary: oklch(0.274 0.006 286.033);
  --fz-secondary-foreground: oklch(0.985 0 0);
  --fz-muted: oklch(0.274 0.006 286.033);
  --fz-muted-foreground: oklch(0.705 0.015 286.067);
  --fz-accent: oklch(0.274 0.006 286.033);
  --fz-accent-foreground: oklch(0.985 0 0);
  --fz-destructive: oklch(0.704 0.191 22.216);
  --fz-border: oklch(1 0 0 / 10%);
  --fz-input: oklch(1 0 0 / 15%);
  --fz-ring: oklch(0.552 0.016 285.938);
}

@theme inline {
  --color-fz-background: var(--fz-background);
  --color-fz-foreground: var(--fz-foreground);
  --color-fz-card: var(--fz-card);
  --color-fz-card-foreground: var(--fz-card-foreground);
  --color-fz-popover: var(--fz-popover);
  --color-fz-popover-foreground: var(--fz-popover-foreground);
  --color-fz-primary: var(--fz-primary);
  --color-fz-primary-foreground: var(--fz-primary-foreground);
  --color-fz-secondary: var(--fz-secondary);
  --color-fz-secondary-foreground: var(--fz-secondary-foreground);
  --color-fz-muted: var(--fz-muted);
  --color-fz-muted-foreground: var(--fz-muted-foreground);
  --color-fz-accent: var(--fz-accent);
  --color-fz-accent-foreground: var(--fz-accent-foreground);
  --color-fz-destructive: var(--fz-destructive);
  --color-fz-destructive-foreground: var(--fz-destructive-foreground);
  --color-fz-border: var(--fz-border);
  --color-fz-input: var(--fz-input);
  --color-fz-ring: var(--fz-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply border-fz-input;
  }
}
